<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<nav class="navbar">
  <a routerLink="/"><span>CrecheAdmin</span></a>

  <button mat-button [matMenuTriggerFor]="cadastros">Cadastro</button>

  <button mat-button [matMenuTriggerFor]="buscas">Busca</button>

  <mat-menu #cadastros="matMenu">
    <button routerLink="/matricula" mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span>Matricula</span>
    </button>
  </mat-menu>

  <mat-menu #buscas="matMenu">
    <button routerLink="/alunos" mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span>Alunos</span>
    </button>
  </mat-menu>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
</body>
</html>
